.x-1{
    text-decoration: line-through;
}
.top{
    margin-bottom: 30px;
}
.banner-shotky {
    display: flex;
    margin-top: 3rem;
}

.banner-shotky-img {
    width: 550px;
    height: 350px;
    border: 1px solid rgba(22, 20, 20, 0.164);
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
}

.shotky-title {
    width: 350px;
    height: 140px;
    font-size: 40px;
    font-weight: 900;
    margin-left: 300px;
}

.span-1 {
    color: #727272;
}

.span-2 {
    color: #ff900e;
}

.shotky-description {
    width: 400px;
    height: 200px;
    color: #727272;
    font-size: 18px;
    margin-top: 40px;
    margin-left: 300px;

}

.Watch{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
    margin-top: 30px;
    color:#ff900e
}
.card-container-shotky {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card-h1{
    width: 200px;
    font-size: 20px;
    font-weight: 600;
}

.card-p{
    width: 200px;
    font-size: 20px;
    font-weight: 500;
}

.card .image-box {
    width: 200px;
}

.card .image-box img {
    width: 100%;
}

.card .shop {
    padding: 10px 18px 10px 18px;
    border-radius: 8px;
    background: rgba(74, 174, 3, 0.15);
}
.buy{
    width: 120px;
    height: 40px;
    color: #000000;
    background-color:#ff900e;
    font-size: 18px;
    font-weight: 800;
    border: none;
    border-radius: 18px;

}

@media screen and (max-width:576px) {
    .top{
        margin-bottom: 0px;
    }
    .banner-shotky {
        flex-direction: column;
        margin-top: 1rem;
    }

    .banner-shotky-img {
        width: 380px;
        height: 250px;
        margin-left: 0px;
    }

    .shotky-title {
        width: 230px;
        height: 100px;
        font-size: 26px;
        font-weight: 800;
        margin-top: 20px;
        margin-left: 80px;
        text-align: center;
    }

    .shotky-description {
        width: 350px;
        height: 100px;
        font-size: 18px;
        margin-top: 20px;
        margin-left: 15px;
        text-align: center;
    }

    .Watch {
        font-size: 26px;
        font-weight: 800;
        margin-top: 20px;
    }

    .card-container-shotky {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 400px;
        gap: 15px;
    }

    .card .image-box {
        width: 300px;
        height: 250px;
    }

    .card .shop {
        padding: 10px 20px;
    }

    .buy {
        width: 150px;
        height: 50px;
    }
}