.banner-barmis {
    display: flex;
    margin-top: 3rem;
}

.banner-barmis-img {
    width: 550px;
    height: 350px;
    border: 1px solid rgba(22, 20, 20, 0.164);
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
    margin-left: 250px;
}

.barmis-title {
    width: 350px;
    height: 140px;
    font-size: 40px;
    font-weight: 900;
    margin-left: 100px;
}

.span-1 {
    color: #727272;
}

.span-4 {
    color: #1cd5ff;
}

.barmis-description {
    width: 400px;
    height: 200px;
    color: #727272;
    font-size: 18px;
    margin-top: 40px;
    margin-left: 100px;
}

.Watch {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 30px;
    color: #1cd5ff;
}

.card-container-fresh-fish {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card-h1 {
    font-size: 20px;
    font-weight: 600;
}

.buy:hover {
    color: #fff;
}

.card-p {
    font-size: 20px;
    font-weight: 500;
}

.x {
    text-decoration: line-through;
    margin-top: 10px;
}

.card .image-box {
    width: 200px;
    border: 1px solid rgba(22, 20, 20, 0.164);
}

.card .image-box img {
    width: 100%;
}

.card .shop {
    padding: 10px 18px 10px 18px;
    border-radius: 8px;
    background: rgba(74, 174, 3, 0.15);
}

.buy {
    width: 120px;
    height: 40px;
    color: black;
    background-color: #1cd5ff;
    font-size: 18px;
    font-weight: 800;
    border: none;
    border-radius: 18px;

}

@media screen and (max-width: 576px) {
    .banner-barmis {
        flex-direction: column-reverse;
        margin-top: 2rem;
    }

    .banner-barmis-img {
        width: 400px;
        height: 250px;
        margin-left: -10px;
    }

    .barmis-title {
        width: 250px;
        height: 90px;
        font-size: 26px;
        font-weight: 800;
        margin-top: 20px;
        margin-left: 65px;
        text-align: center;
    }

    .barmis-description {
        width: 350px;
        height: 100px;
        font-size: 18px;
        margin-top: 20px;
        margin-left: 15px;
        text-align: center;
    }

    .Watch {
        font-size: 26px;
        font-weight: 800;
        margin-top: 20px;
    }

    .card-container-fresh-fish {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 400px;
        gap: 15px;
    }

    .card .image-box {
        width: 300px;
        height: 250px;
    }

    .card .shop {
        padding: 10px 20px;
    }

    .buy {
        width: 150px;
        height: 50px;
    }
}