.banner-vahicale {
    display: flex;
    margin-top: 3rem;
}

.banner-vahicale-img {
    width: 550px;
    height: 350px;
    border: 1px solid rgba(22, 20, 20, 0.164);
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
}

.vahicale-title {
    width: 500px;
    height: 50px;
    font-size: 40px;
    font-weight: 900;
    margin-left: 300px;
}

.span-1 {
    color: #727272;
}

.span {
    color: #a00202;
}

.vahicale-description {
    width: 400px;
    height: 200px;
    color: #727272;
    font-size: 18px;
    margin-top: 40px;
    margin-left: 300px;

}


.banner-vahicale-img {
    width: 550px;
    height: 350px;
    border: 1px solid rgba(22, 20, 20, 0.164);
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
}

.vahicale-title {
    width: 350px;
    height: 140px;
    font-size: 40px;
    font-weight: 900;
    margin-left: 300px;
}

.span-1 {
    color: #727272;
}

.span-2 {
    color: #ff900e;
}

.vahicale-description {
    width: 400px;
    height: 200px;
    color: #727272;
    font-size: 18px;
    margin-top: 40px;
    margin-left: 300px;

}

.vahicale-content {
    display: flex;
}

.rant-vahicale-title {
    width: 400px;
    height: 50px;
    font-size: 35px;
    font-weight: 800;
}

.vahicale-sub-title {
    width: 700px;
    height: 200px;
    font-size: 20px;
    font-weight: 500;
}

.p-30{
    margin-top: 30px;
}

.vahicale-Contact{
    margin-left: 200px;
    margin-top: 50px;
}

.btn-vahicale {
    padding: 14px 18px 14px 18px;
    color: #fff;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    border-radius: 30px;
    background: #a00202;
    margin-top: 1.5rem;
    margin-left: 70px;
    border: none;
    cursor: pointer;
}